
@{
    ViewData["Title"] = "AboutMe";
}

<h1>AboutMe</h1>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Address</td>
        <td>Age</td>
        <td>Ethnicity</td>
        <td>Language</td>
    </tr>
    <tr>
        <td>Bhusan Dahal</td>
        <td>Kathmandu</td>
        <td>55</td>
        <td>Bhramin</td>
        <td>Nepali</td>
    </tr>
</table>