@model ERPractical.Models.MarkModel

@{
    ViewData["Title"] = "Edits";
}

<h1>Edits</h1>

<h4>MarkModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edits">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MarkId" class="control-label"></label>
                <input asp-for="MarkId" class="form-control" />

               
                <span asp-validation-for="MarkId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                @Html.DropDownListFor(x => x.SubjectId, ViewBag.Subjects as SelectList, "--Select Subject--", new { @class = "form-control" })
                @*<input asp-for="SubjectId" class="form-control" />*@
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obtainedmark" class="control-label"></label>
                <input asp-for="Obtainedmark" class="form-control" />
                <span asp-validation-for="Obtainedmark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>

                @Html.DropDownListFor(x => x.StudentId, ViewBag.Students as SelectList, "--Select Student--", new { @class = "form-control" })
                @*<input asp-for="StudentId" class="form-control" />*@
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Marks">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
