@model IEnumerable<ERPractical.Models.MarksModel>

@{
    ViewData["Title"] = "StudentMarks";
    int count = 1;
}
</p>
<table class="table">
    <h3 style="text-align:center;">Bhaktapur Multiple Campus</h3>
    <h5 style="text-align:center;">Dudhpati,Bhaktapur</h5>
    <h4 style="text-align:center;">Marrksheet</h4>
    
    <thead>
        <tr>

            <th>
               Name: @Model.ToList()[0].StudentName
            </th>
            
         <th>
             Roll No:@Model.ToList()[0].StudentId
         </th>
        </tr>
        <tr>
            <th>SN</th>
            <th>Subject</th>
            <th>Marks</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
         <td>@count</td>
          
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obtainedmark)
            </td>
          
          
        </tr>
    count++;
}
    </tbody>
</table>
